In [1]:
import pandas as pd

### Reading Data

In [2]:
df = pd.read_csv("dumpling_data.csv")
df

,Name,Flour,Bread,Battered,Starch,Plain,Filled,Thick,Boiled,Steamed,DeepFried,Fried,Baked,Raw,Sweet,Savory
0,Banku,1,0,0,1,1,0,1,1,0,0,0,0,0,0,1
1,Tihlo,1,0,0,0,1,0,1,0,0,0,0,0,1,0,1
2,American,1,0,0,0,1,0,1,1,0,0,0,0,0,0,1
3,Manti,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1
4,Joshpara,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Qatayef,1,0,0,0,0,1,0,0,0,0,1,0,0,1,0
57,Kibbeh,0,0,0,0,0,1,1,1,0,0,1,1,0,0,1
58,Mataz,1,0,0,0,0,1,0,1,1,0,0,0,0,0,1
59,MatzahBall,1,0,0,0,0,1,1,1,0,0,0,0,0,0,1
60,Knish,1,0,0,0,0,1,1,0,0,1,1,1,0,0,1

### creating list of dumpling names

In [3]:
dumpling_name = df.Name
df = df.set_index(dumpling_name)
df = df.drop(['Name'], axis=1)
df

,Flour,Bread,Battered,Starch,Plain,Filled,Thick,Boiled,Steamed,DeepFried,Fried,Baked,Raw,Sweet,Savory
Name,,,,,,,,,,,,,,,
Banku,1,0,0,1,1,0,1,1,0,0,0,0,0,0,1
Tihlo,1,0,0,0,1,0,1,0,0,0,0,0,1,0,1
American,1,0,0,0,1,0,1,1,0,0,0,0,0,0,1
Manti,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1
Joshpara,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Qatayef,1,0,0,0,0,1,0,0,0,0,1,0,0,1,0
Kibbeh,0,0,0,0,0,1,1,1,0,0,1,1,0,0,1
Mataz,1,0,0,0,0,1,0,1,1,0,0,0,0,0,1
MatzahBall,1,0,0,0,0,1,1,1,0,0,0,0,0,0,1
Knish,1,0,0,0,0,1,1,0,0,1,1,1,0,0,1

### Creation of distance matrix

In [4]:
matrix = []
for i, column_i in enumerate(dumpling_name):
    measure_list = []
    for j, column_j in enumerate(dumpling_name):
        measure_list.append(abs(df.iloc[i,:] - df.iloc[j,:]).sum())
    matrix.append(measure_list)

### Creation of dataframe from matrix

In [7]:
distance_matrix = pd.DataFrame(matrix)
distance_matrix

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0,3,1,6,4,5,6,6,7,6,...,5,6,2,2,2,8,6,5,3,7
1,3,0,2,5,5,6,5,5,6,5,...,4,5,5,5,3,7,7,6,4,6
2,1,2,0,5,3,4,5,5,6,5,...,4,5,3,3,1,7,5,4,2,6
3,6,5,5,0,2,1,2,2,5,2,...,3,2,4,4,6,4,6,1,3,5
4,4,5,3,2,0,1,2,2,5,2,...,3,2,2,2,4,4,4,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,8,7,7,4,4,5,2,2,3,4,...,5,4,6,6,6,0,6,5,5,5
57,6,7,5,6,4,5,4,4,7,6,...,3,4,4,4,6,6,0,5,3,3
58,5,6,4,1,1,0,3,3,6,3,...,4,3,3,3,5,5,5,0,2,6
59,3,4,2,3,1,2,3,3,4,3,...,2,3,1,1,3,5,3,2,0,4
60,7,6,6,5,5,6,3,3,4,3,...,2,3,5,5,7,5,3,6,4,0

### formatting index and column name

In [9]:
distance_matrix.columns = dumpling_name
distance_matrix = distance_matrix.set_index(dumpling_name)
distance_matrix.columns.name = None
distance_matrix

,Banku,Tihlo,American,Manti,Joshpara,Jiaozi,Guotie,Wonton,Gujia,Samosa,...,Calzone,Pastizz,Kroppkaka,Palt,Asida,Qatayef,Kibbeh,Mataz,MatzahBall,Knish
Name,,,,,,,,,,,,,,,,,,,,,
Banku,0,3,1,6,4,5,6,6,7,6,...,5,6,2,2,2,8,6,5,3,7
Tihlo,3,0,2,5,5,6,5,5,6,5,...,4,5,5,5,3,7,7,6,4,6
American,1,2,0,5,3,4,5,5,6,5,...,4,5,3,3,1,7,5,4,2,6
Manti,6,5,5,0,2,1,2,2,5,2,...,3,2,4,4,6,4,6,1,3,5
Joshpara,4,5,3,2,0,1,2,2,5,2,...,3,2,2,2,4,4,4,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Qatayef,8,7,7,4,4,5,2,2,3,4,...,5,4,6,6,6,0,6,5,5,5
Kibbeh,6,7,5,6,4,5,4,4,7,6,...,3,4,4,4,6,6,0,5,3,3
Mataz,5,6,4,1,1,0,3,3,6,3,...,4,3,3,3,5,5,5,0,2,6
MatzahBall,3,4,2,3,1,2,3,3,4,3,...,2,3,1,1,3,5,3,2,0,4
Knish,7,6,6,5,5,6,3,3,4,3,...,2,3,5,5,7,5,3,6,4,0